.u-section-1 {
  background-image: linear-gradient(#cbaed6, #77aad9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  margin: 75px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 324px;
  margin: 38px auto 0;
}

.u-section-1 .u-text-2 {
  width: 570px;
  font-family: Roboto, sans-serif;
  animation-duration: 2500ms;
  line-height: 25.6px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  width: 570px;
  min-height: 188px;
  height: auto;
  margin: 19px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#adcce9, #cfdedf);
  box-shadow: 0 8px 11px 0px rgba(26,26,26,0.4);
  min-height: 128px;
  animation-duration: 1000ms;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 102px;
  height: auto;
  width: 478px;
  margin: 18px -15px 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 452px;
  height: auto;
  width: 170px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-list-1 {
    min-height: 182px;
    margin-top: 22px;
  }

  .u-section-1 .u-group-1 {
    min-height: 122px;
    height: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: -23px;
    margin-left: -7px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 75px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 147px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    width: 557px;
  }

  .u-section-1 .u-list-1 {
    width: 538px;
    min-height: 181px;
    margin-top: 21px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -11px;
    min-height: 132px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 21px;
    margin-right: -44px;
    margin-left: -18px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 61px;
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
  }

  .u-section-1 .u-list-1 {
    min-height: 172px;
    margin-top: 30px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 127px;
    width: 518px;
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 103px;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-1 .u-icon-1 {
    animation-duration: 3000ms;
    margin-top: 56px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    animation-duration: 1000ms;
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    line-height: 1.2;
    animation-duration: 1000ms;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 221px;
    width: 440px;
    margin-top: 16px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-group-1 {
    min-height: 175px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 160px;
    width: 412px;
    margin-top: 0;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 387px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 {
  background-image: linear-gradient(#77aad9, #cbaed6);
}

.u-section-2 .u-sheet-1 {
  min-height: 797px;
}

.u-section-2 .u-list-1 {
  width: 570px;
  min-height: 174px;
  height: auto;
  margin: 158px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 228px;
  height: auto;
  margin-top: -66px;
  margin-bottom: -48px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 538px;
    min-height: 181px;
    margin-top: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-2 .u-list-1 {
    min-height: 165px;
    margin-top: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-2 .u-list-1 {
    min-height: 221px;
    width: 440px;
    margin-top: 110px;
    margin-left: -50px;
    margin-right: -50px;
  }
}