.u-section-1 {
  background-image: linear-gradient(#cbaed6, #77aad9);
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 211px 816px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 9px 570px 0 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  min-height: 174px;
  height: auto;
  margin: 105px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-left: 84px;
  margin-right: auto;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 616px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-rows: calc(50% - 5px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 396px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 360px;
  }

  .u-section-1 .u-list-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 180px;
  }

  .u-section-1 .u-list-1 {
    min-height: 165px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 16px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 104px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 94px;
    margin-right: 0;
    width: auto;
  }
}