.u-section-1 {
  background-image: linear-gradient(#cbaed6, #77aad9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1085px;
}

.u-section-1 .u-list-1 {
  width: 570px;
  min-height: 867px;
  height: auto;
  margin: 154px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  grid-auto-rows: 100%;
}

.u-section-1 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 807px;
  height: auto;
  animation-duration: 750ms;
  margin: 0 195px 0 60px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  box-shadow: 0 5px 8px 0 rgba(26,26,26,0.4);
  animation-duration: 1250ms;
  margin: 30px auto 60px;
  padding: 7px 28px 9px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 538px;
    margin-top: 182px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 191px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    margin: 1px 203px -1px 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-1 .u-list-1 {
    min-height: 221px;
    width: 440px;
    margin-top: 110px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-custom-html-1 {
    margin: 0 155px 0 10px;
  }
}